@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.taskItem{
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  color: #3E3636;
  font-weight: bold;
  font-size: 1.1em;
  border-radius:10px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);

  display: flex;
  align-items: center;
}

.bi-x{
  color:#F20EE9;
  font-weight:bold;
  font-size: 1.3em;
  margin-right:10px;
}
